*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 480px;
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 480px;
}

.activities .container {
  padding-bottom: 94px;
}

.projects .container,
.advantages .container,
.masters .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .projects .container,
  .advantages .container,
  .masters .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.clients .title {
  margin-bottom: 30px;
}

.activities .title {
  margin-bottom: 50px;
}

.masters .title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
  }
  .title-hero {
    font-size: 44px;
    line-height: 1.363;
  }
  .masters .title {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-item {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    color: #000000;
  }
}

.logo-footer {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.menu-button {
  display: flex;
  /*margin: 0;
  padding: 0;*/
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross,
.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 52px;
    padding-top: 40px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    display: block;
    z-index: 20;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.modal .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.contact-form-label,
.contact-form-input,
.contact-form-policy,
.contact-form-policy-label {
  display: block;
  text-align: left;
}

.contact-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.contact-form-input {
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contact-form-input:focus,
.contact-form-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.contact-form-wrapper {
  position: relative;
}

.contact-form-svg {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-svg {
  fill: #2196f3;
}

.contact-form-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contact-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-policy-label,
.contact-form-policy-text {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.contact-form-policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-policy:checked + .contact-form-policy-text::before {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url(../images/svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form-policy-wrapper {
  margin-bottom: 30px;
}

.modal-link {
  color: #2196f3;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(228, 189, 189, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn-svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-svg {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
  .contact-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.167;
  }
  .contact-form-policy-text {
    font-size: 14px;
    line-height: 1.714;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 60px;
  text-align: center;
}

.header .link {
  display: block;
}

.header-address-link {
  display: flex;
  align-items: center;
}

.header-mail, .header-tel-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: #757575;
}

.navigation-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link.current,
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile {
  width: 10px;
  height: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover .icon-envelope,
.header-tel-link:hover .icon-mobile,
.header-mail:focus .icon-envelope,
.header-tel-link:focus .icon-mobile {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }
  body {
    padding-top: 60px;
  }
  .navigation-list {
    margin-bottom: 32px;
  }
  .navigation-list-link {
    padding: 20px 0;
  }
  .header-address-link {
    padding: 8px;
  }
  .header-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .navigation-list {
    margin-right: 84px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    font-size: 12px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-mail,
  .header-tel-link {
    font-size: 12px;
    line-height: 1.143;
  }
  .header-address-list {
    text-align: start;
  }
  .icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 11px;
  }
  .icon-mobile {
    height: 14px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list-link {
    font-size: 14px;
  }
  .header-address-list {
    display: flex;
    align-items: center;
  }
  .header-address-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .icon-mobile {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .header-mail,
  .header-tel-link {
    font-size: 14px;
  }
}

.link.current {
  display: inline-block;
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    bottom: 0;
  }
}

.projects-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.projects-btn-list-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.projects-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-btn:hover, .projects-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-btn-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .projects-btn-list-item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-btn-list {
    margin-bottom: 50px;
  }
}

.projects-list {
  margin-right: auto;
  margin-left: auto;
}

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover, .projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item {
  height: 404px;
}

@media screen and (max-width: 767px) {
  .projects-list-item {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .projects-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    width: 370px;
  }
  .projects-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects-container {
  padding: 20px 24px;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-overlay::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 294px;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .projects-overlay::before {
  transform: translateY(0);
}

.projects-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover .projects-text {
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address,
.footer-mail,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail,
.footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: #2196f3;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-social-list-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mail-form {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mail-form-input {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    margin-bottom: 60px;
  }
  .footer-address-wrapper {
    margin-right: 165px;
  }
  .footer-input-container {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    align-items: baseline;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-address-wrapper {
    text-align: left;
  }
  .footer-social-list-container {
    text-align: left;
    margin-left: 70px;
    margin-right: 93px;
  }
  .mail-form-input {
    width: 358px;
    margin-right: 10px;
  }
  .footer-input-container {
    text-align: left;
  }
}
/*# sourceMappingURL=portfolio.css.map */