*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  min-width: 100%;
}

.list {
  list-style: none;
}
.link {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .projects .container,
  .advantages .container,
  .masters .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activities .container {
  padding-bottom: 94px;
}

.projects .container,
.advantages .container,
.masters .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
