$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-light-theme-color: #757575;
$main-dark-theme-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$title-light-theme-color: #212121;
$title-dark-theme-color: #ffffff;
$accent-color: #2196f3;
$background-dark-theme: #2f303a;
$background-light-theme: #f5f4fa;
$border-color: #eeeeee;
$icon-theme: #afb1b8;
